
/* Page */
$max-page-width: 1160px;

$max-resize: 1160;
$min-resize: 991;

$max-resize-sec: 1550;
$min-resize-sec: 1366;

$header-height: 90px;
$header-height-rsp: 60px;

$spacer: 90px;
$spacer-rsp: 60px;